<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CoreUninstall.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>Everything.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>LowPrioritySchedulerPlugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>MWorksCore.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>MWorksCoreTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>MWorksCoreTestRunner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>MachClockPlugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>MarionetteTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>PyMW.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>Python MW Conduit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>Set Version String.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>ZenSchedulerPlugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ZenStateSystemPlugin.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>mw_test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0E121C930E6B1EF7007B29B8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0E8014110E422E2A00D6DE20</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C0E756F09D1A886002295FB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C488A160F4E27CD00C5A526</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C4D232409DC59410082BF9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5C4D239B09DC83930082BF9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CCE1CCF10A4692500EF5866</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CDB8B230E9C4A6300993D99</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CF73C6008625E1800F453C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5CF73C7E086260E900F453C3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA1368DC07EA27C7001BA98B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA2CE0D307E9F68100C68AEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DA2CE38F07EA035F00C68AEF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>E11542041193460300DDE09D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
