{
	FilesToRename = {
		"MWPlugin_Prefix.pch" = "___PROJECTNAME____Prefix.pch";
		"MWPluginFactory.cpp" = "___PROJECTNAME___Factory.cpp";
		"MWPluginFactory.h" = "___PROJECTNAME___Factory.h";
		"MWPlugin.h" = "___PROJECTNAME___.h";
		"MWPlugin.cpp" = "___PROJECTNAME___.cpp";
		"MWPluginPlugin.h" = "___PROJECTNAME___Plugin.h";
		"MWPluginPlugin.cpp" = "___PROJECTNAME___Plugin.cpp";
	};
	FilesToMacroExpand = (
	  "INSTRUCTIONS.txt",
		"___PROJECTNAME___Factory.cpp",
		"___PROJECTNAME___Factory.h",
		"___PROJECTNAME___.h",
		"___PROJECTNAME___.cpp",
		"___PROJECTNAME___Plugin.cpp",
		"___PROJECTNAME___Plugin.h",
		"Info.plist",
		"English.lproj/InfoPlist.strings",
		"___PROJECTNAME____Prefix.pch",
	);
	Description = "This project builds a MWorks Core Plugin";
}
