<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

	<key>NRTBottomXAxisCoordinateRangeCA</key>
	<array>
		<integer>0</integer>
		<integer>100</integer>
	</array>
	<key>NRTBottomXAxisRGBCA</key>
        <array>
            <real>0.0</real>
            <real>0.0</real>
            <real>0.0</real>
        </array>
	<key>NRTBottomXAxisLabelsCA</key>
	<array>
		<string>0</string>
                <string></string>
		<string>20</string>
                <string></string>
		<string>40</string>                
                <string></string>
		<string>60</string>
                <string></string>
		<string>80</string>
                <string></string>
		<string>100</string>
	</array>
	<key>NRTBottomXAxisLabelsFontCA</key>
	<string>Helvetica</string>
	<key>NRTBottomXAxisLabelsFontRGBCA</key>
	<array>
                <real>0.0</real>
                <real>0.0</real>
                <real>0.0</real>
	</array>
	<key>NRTBottomXAxisLabelsFontSizeCA</key>
	<integer>12</integer>
	<key>NRTBottomXAxisLabelsOffsetCA</key>
	<integer>20</integer>
	<key>NRTBottomXAxisMajorTickLengthCA</key>
	<integer>10</integer>
	<key>NRTBottomXAxisMajorTickWidthCA</key>
	<integer>2</integer>
	<key>NRTBottomXAxisMinorTickLengthCA</key>
	<integer>5</integer>
	<key>NRTBottomXAxisMinorTickWidthCA</key>
	<integer>1</integer>
	<key>NRTBottomXAxisMinorTicksPerMajorTickCA</key>
	<integer>1</integer>
	<key>NRTBottomXAxisTickCoordinatesCA</key>
	<array>
		<integer>0</integer>
		<integer>10</integer>
		<integer>20</integer>
		<integer>30</integer>
		<integer>40</integer>
		<integer>50</integer>
		<integer>60</integer>
		<integer>70</integer>
		<integer>80</integer>
		<integer>90</integer>
		<integer>100</integer>
	</array>
	<key>NRTBottomXAxisTitleCA</key>
	<string>X NRTAxis</string>
        <key>NRTBottomXAxisWidthCA</key>
        <real>4.0</real>
	<key>NRTBottomXAxisTitleFontCA</key>
	<string>Helvetica</string>
	<key>NRTBottomXAxisTitleFontRGBCA</key>
        <array>
                <real>0.0</real>
                <real>0.0</real>
                <real>0.0</real>
        </array>
	<key>NRTBottomXAxisTitleFontSizeCA</key>
	<integer>12</integer>
	<key>NRTBottomXAxisTitleOffsetCA</key>
	<integer>40</integer>
        
	<key>NRTTopXAxisCoordinateRangeCA</key>
	<array>
		<integer>0</integer>
		<integer>100</integer>
	</array>
	<key>NRTTopXAxisRGBCA</key>
        <array>
            <real>0.0</real>
            <real>0.0</real>
            <real>0.0</real>
        </array>
	<key>NRTTopXAxisLabelsCA</key>
	<array>
	</array>
	<key>NRTTopXAxisLabelsFontCA</key>
	<string>Helvetica</string>
	<key>NRTTopXAxisLabelsFontRGBCA</key>
	<array>
                <real>0.0</real>
                <real>0.0</real>
                <real>0.0</real>
	</array>
	<key>NRTTopXAxisLabelsFontSizeCA</key>
	<integer>12</integer>
	<key>NRTTopXAxisLabelsOffsetCA</key>
	<integer>20</integer>
	<key>NRTTopXAxisMajorTickLengthCA</key>
	<integer>10</integer>
	<key>NRTTopXAxisMajorTickWidthCA</key>
	<integer>2</integer>
	<key>NRTTopXAxisMinorTickLengthCA</key>
	<integer>5</integer>
	<key>NRTTopXAxisMinorTickWidthCA</key>
	<integer>1</integer>
	<key>NRTTopXAxisMinorTicksPerMajorTickCA</key>
	<integer>1</integer>
	<key>NRTTopXAxisTickCoordinatesCA</key>
	<array>
		<integer>0</integer>
		<integer>10</integer>
		<integer>20</integer>
		<integer>30</integer>
		<integer>40</integer>
		<integer>50</integer>
		<integer>60</integer>
		<integer>70</integer>
		<integer>80</integer>
		<integer>90</integer>
		<integer>100</integer>
	</array>
	<key>NRTTopXAxisTitleCA</key>
	<string></string>
        <key>NRTTopXAxisWidthCA</key>
        <real>4.0</real>
	<key>NRTTopXAxisTitleFontCA</key>
	<string>Helvetica</string>
	<key>NRTTopXAxisTitleFontRGBCA</key>
        <array>
                <real>0.0</real>
                <real>0.0</real>
                <real>0.0</real>
        </array>
	<key>NRTTopXAxisTitleFontSizeCA</key>
	<integer>12</integer>
	<key>NRTTopXAxisTitleOffsetCA</key>
	<integer>40</integer>
        
	<key>NRTLeftYAxisCoordinateRangeCA</key>
	<array>
		<integer>0</integer>
		<integer>100</integer>
	</array>
	<key>NRTLeftYAxisRGBCA</key>
        <array>
            <real>0.0</real>
            <real>0.0</real>
            <real>0.0</real>
        </array>
	<key>NRTLeftYAxisLabelsCA</key>
	<array>
		<string>0</string>
                <string></string>
		<string>20</string>
                <string></string>
		<string>40</string>                
                <string></string>
		<string>60</string>
                <string></string>
		<string>80</string>
                <string></string>
		<string>100</string>
	</array>
	<key>NRTLeftYAxisLabelsFontCA</key>
	<string>Helvetica</string>
	<key>NRTLeftYAxisLabelsFontRGBCA</key>
	<array>
                <real>0.0</real>
                <real>0.0</real>
                <real>0.0</real>
	</array>
	<key>NRTLeftYAxisLabelsFontSizeCA</key>
	<integer>12</integer>
	<key>NRTLeftYAxisLabelsOffsetCA</key>
	<integer>20</integer>
	<key>NRTLeftYAxisMajorTickLengthCA</key>
	<integer>10</integer>
	<key>NRTLeftYAxisMajorTickWidthCA</key>
	<integer>2</integer>
	<key>NRTLeftYAxisMinorTickLengthCA</key>
	<integer>5</integer>
	<key>NRTLeftYAxisMinorTickWidthCA</key>
	<integer>1</integer>
	<key>NRTLeftYAxisMinorTicksPerMajorTickCA</key>
	<integer>1</integer>
	<key>NRTLeftYAxisTickCoordinatesCA</key>
	<array>
		<integer>0</integer>
		<integer>10</integer>
		<integer>20</integer>
		<integer>30</integer>
		<integer>40</integer>
		<integer>50</integer>
		<integer>60</integer>
		<integer>70</integer>
		<integer>80</integer>
		<integer>90</integer>
		<integer>100</integer>
	</array>
	<key>NRTLeftYAxisTitleCA</key>
	<string>Y NRTAxis</string>
        <key>NRTLeftYAxisWidthCA</key>
        <real>4.0</real>
	<key>NRTLeftYAxisTitleFontCA</key>
	<string>Helvetica</string>
	<key>NRTLeftYAxisTitleFontRGBCA</key>
        <array>
            <real>0.0</real>
            <real>0.0</real>
            <real>0.0</real>
        </array>
	<key>NRTLeftYAxisTitleFontSizeCA</key>
	<integer>12</integer>
	<key>NRTLeftYAxisTitleOffsetCA</key>
	<integer>40</integer>
        
	<key>NRTRightYAxisCoordinateRangeCA</key>
	<array>
		<integer>0</integer>
		<integer>100</integer>
	</array>
	<key>NRTRightYAxisRGBCA</key>
        <array>
            <real>0.0</real>
            <real>0.0</real>
            <real>0.0</real>
        </array>
	<key>NRTRightYAxisLabelsCA</key>
	<array>
	</array>
	<key>NRTRightYAxisLabelsFontCA</key>
	<string>Helvetica</string>
	<key>NRTRightYAxisLabelsFontRGBCA</key>
	<array>
                <real>0.0</real>
                <real>0.0</real>
                <real>0.0</real>
	</array>
	<key>NRTRightYAxisLabelsFontSizeCA</key>
	<integer>12</integer>
	<key>NRTRightYAxisLabelsOffsetCA</key>
	<integer>20</integer>
	<key>NRTRightYAxisMajorTickLengthCA</key>
	<integer>10</integer>
	<key>NRTRightYAxisMajorTickWidthCA</key>
	<integer>2</integer>
	<key>NRTRightYAxisMinorTickLengthCA</key>
	<integer>5</integer>
	<key>NRTRightYAxisMinorTickWidthCA</key>
	<integer>1</integer>
	<key>NRTRightYAxisMinorTicksPerMajorTickCA</key>
	<integer>1</integer>
	<key>NRTRightYAxisTickCoordinatesCA</key>
	<array>
		<integer>0</integer>
		<integer>10</integer>
		<integer>20</integer>
		<integer>30</integer>
		<integer>40</integer>
		<integer>50</integer>
		<integer>60</integer>
		<integer>70</integer>
		<integer>80</integer>
		<integer>90</integer>
		<integer>100</integer>
	</array>
	<key>NRTRightYAxisTitleCA</key>
	<string></string>
        <key>NRTRightYAxisWidthCA</key>
        <real>4.0</real>
	<key>NRTRightYAxisTitleFontCA</key>
	<string>Helvetica</string>
	<key>NRTRightYAxisTitleFontRGBCA</key>
        <array>
            <real>0.0</real>
            <real>0.0</real>
            <real>0.0</real>
        </array>
	<key>NRTRightYAxisTitleFontSizeCA</key>
	<integer>12</integer>
	<key>NRTRightYAxisTitleOffsetCA</key>
	<integer>40</integer>

</dict>
</plist>
