{
	FilesToRename = {
		"MWPlugin_Prefix.pch" = "ÇPROJECTNAMEÈ_Prefix.pch";
		"MWPluginFactory.cpp" = "ÇPROJECTNAMEÈFactory.cpp";
		"MWPluginFactory.h" = "ÇPROJECTNAMEÈFactory.h";
		"MWPlugin.h" = "ÇPROJECTNAMEÈ.h";
		"MWPlugin.cpp" = "ÇPROJECTNAMEÈ.cpp";
		"MWPluginPlugin.h" = "ÇPROJECTNAMEÈPlugin.h";
		"MWPluginPlugin.cpp" = "ÇPROJECTNAMEÈPlugin.cpp";
	};
	FilesToMacroExpand = (
		"ÇPROJECTNAMEÈFactory.cpp",
		"ÇPROJECTNAMEÈFactory.h",
		"ÇPROJECTNAMEÈ.h",
		"ÇPROJECTNAMEÈ.cpp",
		"ÇPROJECTNAMEÈPlugin.cpp",
		"ÇPROJECTNAMEÈPlugin.h",
		"Info.plist",
		"English.lproj/InfoPlist.strings",
		"ÇPROJECTNAMEÈ_Prefix.pch",
	);
	Description = "This project builds a MWorks Core Plugin";
}
