<?xml version="1.0"?>
<monkeyml version="1.0">
    <variables tag="Variables">
        <variable tag="X" default_value="1" scope="global" type="float" editable="ALWAYS" logging="WHEN_CHANGED" persistant="NO">
            <action type="assignment" variable="Y" value="X"></action>
        </variable>
        <variable tag="Y" default_value="2" scope="global" type="float" editable="ALWAYS" logging="WHEN_CHANGED" persistant="NO"></variable>
    </variables>
    <stimuli tag="Stimuli">
        <stimulus tag="blank screen" full_name="blank screen" type="blank_screen" color="1,0,0"></stimulus>
    </stimuli>
    <experiment tag="theExperiment" full_name="the Experiment" description="">
        <protocol tag="theProtocol" full_name="the Protocol" selection="sequential_ascending" nsamples="1" sampling_method="cycles" description="" interruptible="YES">
            <block tag="theBlock" full_name="the Block" selection="sequential_ascending" nsamples="1" sampling_method="cycles" description="" interruptible="YES">
                <trial tag="theTrial" full_name="the Trial" description="" interruptible="YES" selection="sequential_ascending" nsamples="1" sampling_method="cycles">
                    <task_system tag="theTaskSystem">
                        <task_system_state tag="theState" full_name="the State" description="" interruptible="YES">
                            <action type="assert" condition="X!=Y" message="X==Y"></action>
                            <action type="assert" tag="Assert" condition="Y != 10" message="Y == 10"></action>
                            <action type="assignment" variable="X" value="10"></action>
                            <action type="assert" condition="X==Y" message="X!=Y"></action>
                            <transition type="yield"></transition>
                        </task_system_state>
                    </task_system>
                </trial>
            </block>
        </protocol>
    </experiment>
</monkeyml>
