ARCHS = x86_64 i386
BUILD_VARIANTS = normal
COPY_PHASE_STRIP = NO
GCC_C_LANGUAGE_STANDARD = c99
GCC_OPTIMIZATION_LEVEL = 0
GCC_VERSION = 4.2
GCC_WARN_ABOUT_RETURN_TYPE = YES
SDKROOT = macosx10.6
WARNING_CFLAGS = -Wno-sign-compare

MW_VERSION = 0.4.5-dev

APP_SUPPORT_DIR = /Library/Application Support/MWorks
CONFIG_DIR = $(APP_SUPPORT_DIR)/Configuration
DEVELOPER_DIR = $(APP_SUPPORT_DIR)/Developer
MW_BIN_DIR = "$(MW_BIN_DIR_UNQUOTED)"
MW_BIN_DIR_UNQUOTED = $(DEVELOPER_DIR)/bin
MW_INCLUDE_DIR = "$(MW_INCLUDE_DIR_UNQUOTED)"
MW_INCLUDE_DIR_UNQUOTED = $(DEVELOPER_DIR)/include
MW_LIB_DIR = "$(MW_LIB_DIR_UNQUOTED)"
MW_LIB_DIR_UNQUOTED = $(DEVELOPER_DIR)/lib
PLUGINS_DIR = $(APP_SUPPORT_DIR)/Plugins/Core
CLIENT_PLUGINS_DIR = $(APP_SUPPORT_DIR)/Plugins/Client
EXAMPLES_DIR = "$(APP_SUPPORT_DIR)/Examples"
TESTS_DIR = $(DEVELOPER_DIR)/tests
